<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <a href="<%= cocktail_path(cocktail) %>">
    <div class="card text-center" href="<%= cocktail_path(cocktail) %>" style="background-image: url('<%= cl_image_path cocktail.photo %>')">
       <p><%= cocktail.name%></p>
    </div>
  </a>
  <% end %>
</div>

