<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card text-center" style="background-image: url(<%= cl_image_path @cocktail.photo %>)">
     <p><%=link_to cocktail.name, cocktail_path(cocktail)%></p>
  </div>
  <% end %>
</div>

