.new-card {
  height: 250px;
  width: 100%;
  color: rgb(50, 50, 50);
  background-color: rgb(230, 230, 230);
  padding: 15px;
  border-radius: 5px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
